<%= form_with model: [ article, article.comments.build ], class: "bg-black dark:bg-white text-white dark:text-black p-6 rounded-xl space-y-5" do |form| %>

  <div>
    <%= form.label :body, class: "block mb-2 text-2xl font-semibold" %>
    <%= form.text_area :body, rows: 4, class: "border rounded-md h-40 w-full" %>
  </div>
  <div>
    <%= form.label :status, class: "block mb-2 text-2xl font-semibold" %>
    <%= form.select :status, Visible::VALID_STATUSES, { selected: "public" }, class: "border rounded-md px-4 py-2" %>
  </div>


  <div class="flex justify-end w-full">
    <%= form.submit "Post Comment", class: "button hover:bg-gray-800 hover:text-white bg-black" %>
  </div>

<% end %>
