<div class="articles-wrapper">
  <div class="articles-header">
    <h1 class="articles-title">Articles</h1>
    <p class="articles-subtitle">
      Our blog has <%= Article.public_count %> articles and counting!
    </p>
  </div>

  <ul class="articles-list">
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li class="article-item">
          <%= link_to article.title, article, class: "article-link" %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <div class="auth-box">
    <% if user_signed_in? %>
      <div class="auth-logged-in">
        <p class="auth-welcome">
          Welcome, <%= current_user.email %>!
        </p>
        <%= button_to "Logout", destroy_user_session_path,
              method: :delete,
              form: { "data-turbo-confirm": "Are you sure you want to logout?" },
              class: "auth-button logout-button" %>
      </div>
    <% else %>
      <div class="auth-actions">
        <%= link_to "Login", new_user_session_path, class: "auth-button" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "auth-button" %>
      </div>
    <% end %>
  </div>

  <div class="new-article-link">
    <%= link_to "New Article", new_article_path, class: "auth-button" %>
  </div>
</div>
