<div class="bg-white text-black dark:bg-black">
  <div class="max-w-4xl text-center py-2 mx-auto">
    <% if user_signed_in? %>
  <span class="text-lg hidden sm:block dark:text-white">Welcome, <%= current_user.email %></span>
  <% else %>
  <span class="text-lg hidden sm:block dark:text-white">Welcome, Guest</span>
  <% end %>
  </div>
</div>
<div class="h-[90vh] dark:bg-black bg-white">
  <%= render 'shared/navbar' %>
 <%# dark_height_class = @articles.count >= 3 ? "dark:h-full" : "dark:h-screen" %> 

<div class="dark:text-white pt-0 sm:pt-20  dark:bg-black h-full">
  <div class="max-w-5xl mx-auto px-4 py-6">
    <div class="articles-header">
      <h1 class="text-3xl sm:text-4xl md:text-6xl text-balance font-bold">Analyze Articles and Blog Posts given by BlogSpace</h1>
      <p class="articles-subtitle pt-3">
        Our blog has <%= Article.public_count %> articles and counting!
      </p>
    </div>
    <div class="flex justify-center w-full">
      <div>
      <%= link_to "New Article", new_article_path, class: "primary_button" %>
      <%= link_to "New Post", new_post_path, class: "primary_button" %>
      <%= link_to "Posts", posts_path, class: "primary_button" %>
    </div>
    </div>
  </div>
</div>

<%= render 'shared/articles', articles: @articles %>