<%= link_to "Home", root_path, class: "btn btn-primary" %>
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  
  <li>
    <%= link_to "Delete", article_path(@article),
    data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } 
          %>
      </li>
</ul>

<h2>Add a comment:</h2>
<%= render @article.comments %>
<% if user_signed_in? %>
  <%= render "comments/form", article: @article %>
<% else %>
  <p>You must <%= link_to "log in", new_user_session_path %> to leave a comment.</p>
<% end %>
