<div class="max-w-4xl text-black mx-auto px-6 py-10 space-y-8">

  <div>
    <%= link_to "Home", root_path,
      class: "block text-center bg-black text-white hover:bg-gray-800 font-medium py-2 px-5 rounded-lg shadow transition duration-200" %>
  </div>

  <div class="space-y-4 ">
    <h1 class="text-5xl font-bold">Title: <%= @article.title %></h1>
    <p class="text-lg leading-relaxed"><%= @article.body %></p>
  </div>

  <ul class="space-y-2">
  <% if user_signed_in? %>
    <li>
      <%= link_to "Edit", edit_article_path(@article),
        class: "block text-center bg-black text-white hover:bg-gray-800 font-medium py-2 px-5 rounded-lg shadow transition duration-200" %>
    </li>
    <li>
      <%= link_to "Delete", article_path(@article),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
        class: "block text-center bg-red-600 hover:bg-red-700 text-white font-medium py-2 px-5 rounded-lg shadow transition duration-200" %>
    </li>
  <% else %>
    <li>
      <%= link_to "Sign in to edit or delete", new_user_session_path,
        class: "inline-block bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-5 rounded-lg shadow transition duration-200" %>
    </li>
  <% end %>
</ul>


  <div class="space-y-6 pt-6">
    <h2 class="text-5xl font-bold">Add a comment:</h2>

    <%= render @article.comments %>

    <% if user_signed_in? %>
      <%= render "comments/form", article: @article %>
    <% else %>
      <p>
        You must
        <%= link_to "log in", new_user_session_path, class: "text-black hover:underline font-medium" %>
        to leave a comment.
      </p>
    <% end %>
  </div>

</div>
