<nav class="lg:mx-auto max-w-6xl">
  <div class="max-w-5xl mx-auto px-8 sm:px-4 py-3">
    <input type="checkbox" id="menu-toggle" class="hidden">

    <div class="flex items-center justify-between">
      <div class="text-2xl font-bold dark:text-white">
        <%= link_to "Blog Space", root_path %>
      </div>

      <div class="hidden md:flex space-x-6 justify-center items-center gap-4">
        <%= link_to "Posts", posts_path %>
        <%= link_to "Articles", articles_path %>
        <%= link_to "New Article", new_article_path %>
        <%= link_to "New Post", new_post_path %>
      </div>

      <div class="hidden md:flex items-center gap-4">
        <% if user_signed_in? %>
          <%= button_to "Logout", destroy_user_session_path,
                method: :delete,
                form: { "data-turbo-confirm": "Are you sure you want to logout?" },
                class: "text-sm cursor-pointer px-3 py-1 bg-white text-black dark:bg-lime-400 dark:text-black font-bold rounded" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "text-sm text-black dark:text-white hover:underline" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "text-sm text-black dark:text-white hover:underline" %>
        <% end %>

        <%= link_to dark_mode_path, data: { turbo_method: :post }, class: "p-1 rounded" do %>
          <% if dark_mode? %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
            </svg>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
            </svg>
          <% end %>
        <% end %>
      </div>

      <div class="md:hidden flex items-center gap-3">
        <%= link_to dark_mode_path, data: { turbo_method: :post }, class: "p-1 rounded" do %>
          <% if dark_mode? %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
            </svg>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
            </svg>
          <% end %>
        <% end %>

        <label for="menu-toggle" class="cursor-pointer">
          <svg class="h-6 w-6 text-black dark:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </label>
      </div>
    </div>

    <div class="md:hidden max-h-0 bg-slate-950  dark:bg-white dark:text-black text-white px-4 rounded-xl overflow-hidden transition-all duration-300">
      <div class="pt-4 border-t border-gray-700 dark:border-gray-300">
        <div class="flex flex-col space-y-3">
          <%= link_to "Posts", posts_path %>
          <%= link_to "Articles", articles_path %>
          <%= link_to "New Article", new_article_path %>
          <%= link_to "New Post", new_post_path %>
        </div>

        <div class="flex flex-col space-y-3 pt-3 border-t border-gray-700 dark:border-gray-300 mt-3">
          <% if user_signed_in? %>
            <%= button_to "Logout", destroy_user_session_path,
                  method: :delete,
                  form: { "data-turbo-confirm": "Are you sure you want to logout?" },
                  class: "text-sm cursor-pointer px-3 py-2 bg-white text-black dark:bg-lime-400 dark:text-black font-bold rounded" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "text-sm hover:underline" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "text-sm hover:underline" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>